@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
body {
    background: url("images/pattern-background-desktop.svg") no-repeat fixed top;
    background-color: hsl(225, 100%, 94%);
}

h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #222e4d;
    text-align: center;
    padding-top: 5%;
}

p {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: hsl(224, 23%, 55%);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; 
}

button {
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 15px 32px;
    display: block;
    margin: 30px auto;
    width: 80%;
    border: none;
    border-radius: 12px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 15px;
    box-shadow: 0px 20px 20px rgba(56, 41, 224, 0.2);
}

button:hover {
    background-color: #766cf1;
}

main {
    background-color: white;
    width: 451px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.cancel {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: hsl(224, 23%, 55%);
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    text-decoration: none;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
}

img.subscription-block__item {
    height: 200%;
    justify-self: flex-start;
    margin-left: 25px;
    margin-right: 0px;
    
}

a.subscription-block__item {
    color: hsl(245, 75%, 52%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
}

a.subscription-block__item:hover {
    text-decoration: none;
    color: #766cf1;
}

.subscription-block {
    display: flex;
    background-color: hsl(225, 100%, 98%);
    margin: 20px 10%;
    /* padding: 0px 20px; */
    padding: 0;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
}

.subscription-block__left-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    width: 55%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    transform: translateX(-15px);
}

.price-block h3 {
    margin-bottom: 3px;
    font-weight: 900;
    font-size: 16px;
    color: hsl(223, 47%, 23%);
}

.price-block p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 3px;
}

@media screen and (max-width: 375px) {
    .content {
        width: 85%;
    }

    .content img {
        width: 100%;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }

    .price-block {
        transform: translateX(-42px);
    }

    .price-block h3 {
        font-size: 14px;
    }

    .price-block p {
        font-size: 14px;
        line-height: 14px;
    }

    .subscription-block {
        margin: 25px 8% 0;
    }

    a.subscription-block__item {
        font-size: 13px;
    }

    .subscription-block__left-items {
        /* border: 4px solid yellow; */
        width: 100%;
    }

    img.subscription-block__item {
        width: 23%;
        margin-left: 17px;
    }

    a.subscription-block__item {
        margin-right: 15px;
    }

    button {
        margin: 25px auto;
        width: 84%;
    }

    .cancel {
        margin-bottom: 30px;
    }

    footer {
        font-size: smaller;
    }
}